.footer-bg {
  background-color: var(--cor-c13);
  padding-top: 20px;
  padding-left: 100px;
  padding-right: 100px;
}
.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.rodape-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}
.rodape-menu a {
  display: inline-block;
  padding: 38px 0px;
  position: relative;
  font-size: 16px;
}
.rodape-menu a::after {
  content: "";
  display: block;
  height: 2px;
  width: 0px;
  background: var(--cor-v1);
  margin-top: 4px;
  transition: 0.3s;
  position: absolute;
}
.rodape-menu a:hover::after {
  width: 100%;
}
.footer-redes-sociais {
  display: flex;
  gap: 15px;
}
.footer-redes-sociais li {
  width: 40px;
  height: 40px;
  background: linear-gradient(black, black) padding-box,
    linear-gradient(180deg, #db0000 0%, #b40909 100%) border-box;
  border: 2px solid transparent;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}
.footer-redes-sociais li:hover::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid transparent;
  border-radius: 50%;
  /*KEYFRAMES ESTÁ NO introducao.css*/
  animation: iconrotate 2s linear infinite;
  z-index: -1;
}
.footer-segunda-parte {
  border-top: 1px solid var(--cor-c10);
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: var(--cor-c13);
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.footer-henrique-lordelo:hover {
  color: var(--cor-v1);
}
/*RESPONSIVO PARA LAPTOP*/
@media (max-width: 1093px) {
  .footer {
    gap: 0px;
  }
}
@media (max-width: 1053px) {
  .footer-redes-sociais {
    margin-bottom: 20px;
  }
}
/*RESPONSIVO PARA CELULAR*/
@media (max-width: 767px) {
  .footer-bg {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .footer {
    gap: 0px;
  }
  .rodape-nav {
    width: 100%;
  }
  .rodape-menu {
    flex-direction: column;
    gap: 0px;
    padding-bottom: 10px;
  }
  .rodape-menu a {
    padding: 12px 6px 12px 0px;
  }
}
