.container {
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
}
.botao-introducao {
  display: inline-block;
  padding: 16px 32px;
  background: linear-gradient(180deg, #db0000 0%, #b40909 100%);
  border-radius: 10px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  color: var(--cor-c0);
  font: 600 18px/24px "Poppins", sans-serif;
  max-width: max-content;
  border: none;
  cursor: pointer;
}
.botao-introducao:hover {
  background: linear-gradient(180deg, #bc0000 0%, #a81111 100%);
}
.botao-formulario {
  display: inline-block;
  padding: 16px 32px;
  background: linear-gradient(180deg, #db0000 0%, #b40909 100%);
  border-radius: 10px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  color: var(--cor-c0);
  font: 600 18px/24px "Poppins", sans-serif;
  max-width: max-content;
  border: none;
  cursor: pointer;
}
.botao-formulario:hover {
  background: linear-gradient(180deg, #bc0000 0%, #a81111 100%);
}
.botao-secundario {
  display: inline-block;
  padding: 16px 32px;
  background: linear-gradient(black, black) padding-box,
    linear-gradient(180deg, #db0000 0%, #b40909 100%) border-box;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  color: var(--cor-c0);
  font: 600 18px/24px "Poppins", sans-serif;
  max-width: max-content;
  border: 2px solid transparent;
  border-radius: 10px;
  cursor: pointer;
}
.botao:hover {
  background: linear-gradient(180deg, #bc0000 0%, #a81111 100%);
}
