/*POPPINS - SANS-SERIF*/
.font-p1 {
  font: 600 4.5rem/5rem "Poppins", sans-serif;
}
.font-p2 {
  font: 600 4.25rem/4.75rem "Poppins", sans-serif;
}
.font-p3 {
  font: 500 3.75rem/4.25rem "Poppins", sans-serif;
}
.font-p4 {
  font: 500 2.75rem/3.25rem "Poppins", sans-serif;
}
.font-p5 {
  font: 400 2.125rem/2.625rem "Poppins", sans-serif;
}
.font-p6 {
  font: 400 1.5rem/2rem "Poppins", sans-serif;
}
.font-p7 {
  font: 500 1.125rem/1.5rem "Poppins", sans-serif;
}
.font-p8 {
  font: 600 1.125rem/1.5rem "Poppins", sans-serif;
}
.font-p9 {
  font: 400 1.125rem/1.5rem "Poppins", sans-serif;
}
.font-p10 {
  font: 400 1.375rem/1.875rem "Poppins", sans-serif;
}
/*ROBOTO - SANS-SERIF*/
.font-r1 {
  font: 400 1.125rem/1.5rem "Roboto", sans-serif;
}
.font-r2 {
  font: 400 1.125rem/1.5rem "Roboto", sans-serif;
  letter-spacing: 0.1125rem;
}
.font-r3 {
  font: 400 0.875rem/1.25rem "Roboto", sans-serif;
}
.font-r4 {
  font: 400 1.5rem/2rem "Roboto", sans-serif;
}
.font-r5 {
  font: 400 1.375rem/1.875rem "Roboto", sans-serif;
}
.font-r6 {
  font: 400 1.25rem/1.75rem "Roboto", sans-serif;
}
.font-r7 {
  font: 400 0.875rem/1.375rem "Roboto", sans-serif;
}
.font-r8 {
  font: 400 1rem/1.5rem "Roboto", sans-serif;
}
.font-r9 {
  font: 400 2.125rem/2.625rem "Roboto", sans-serif;
}
.font-r10 {
  font: 500 2.125rem/2.625rem "Roboto", sans-serif;
}
.font-r11 {
  font: 700 2.125rem/2.625rem "Roboto", sans-serif;
}
