.portfolio-antes-e-depois-bg {
  background-color: var(--cor-c13);
  position: relative;
  padding-bottom: 100px;
  padding-right: 100px;
}
.transformacao {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  margin-left: 20px;
}
.portfolio-antes-e-depois-grid {
  display: grid;
  grid-template-columns: 7fr 5fr;
  gap: 40px;
  align-items: center;
}
.portfolio-antes-e-depois-imagem {
  padding-top: 160px;
}
.portfolio-antes-e-depois-informacoes {
  padding-top: 100px;
}
.portfolio-antes-e-depois-titulo {
  font: 600 44px/52px "Poppins", sans-serif;
  padding-bottom: 20px;
}
.portfolio-antes-e-depois-paragrafo {
  padding-bottom: 40px;
}
.portfolio-antes-e-depois-titulo-qualidades {
  font: 600 24px/32px "Poppins", sans-serif;
}
.portfolio-antes-e-depois-titulo-qualidades {
  padding-bottom: 10px;
}
.portfolio-antes-e-depois-qualidades li {
  display: flex;
  gap: 20px;
  position: relative;
  z-index: 1;
}
.portfolio-antes-e-depois-imagem-container {
  width: 80px;
  height: 80px;
  aspect-ratio: 1 / 1;
  background: linear-gradient(black, black) padding-box,
    linear-gradient(180deg, #db0000 0%, #b40909 100%) border-box;
  border: 2px solid transparent;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.portfolio-antes-e-depois-imagem-container::before {
  content: "";
  position: absolute;
  top: 0px;
  width: 1px;
  height: 100%;
  background-color: var(--cor-c10);
  z-index: -1;
}
.portfolio-antes-e-depois-espacamento {
  padding-top: 40px;
}
/*RESPONSIVO PARA DESKTOP*/
@media (max-width: 1600px) {
  .transformacao {
    margin-left: 15px;
  }
}
/*RESPONSIVO PARA LAPTOP*/
@media (max-width: 1400px) {
  .imagem-antes-e-depois {
    max-width: 85%;
    padding-left: 100px;
  }
}
/*RESPONSIVO PARA TABLET*/
@media (max-width: 1024px) {
  .portfolio-antes-e-depois-bg {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .transformacao {
    display: none;
  }
  .portfolio-antes-e-depois-grid {
    grid-template-columns: 1fr 1fr;
  }
  .imagem-antes-e-depois {
    max-width: 100%;
    padding-left: 0px;
  }
}
@media (max-width: 899px) {
  .portfolio-antes-e-depois-grid {
    grid-template-areas:
      "texto"
      "imagem";
    grid-template-columns: 1fr;
  }
  .portfolio-antes-e-depois-informacoes {
    grid-area: texto;
  }
  .imagem-antes-e-depois {
    grid-area: imagem;
  }
}
/*RESPONSIVO PARA CELULAR*/
@media (max-width: 767px) {
  .portfolio-antes-e-depois-titulo {
    font: 600 2.5rem/3rem Poppins, sans-serif;
  }
  .portfolio-antes-e-depois-imagem {
    padding-top: 50px;
  }
}
